$main_color: #f2aa4c;
$bg_color: #169aff;
$green_color: #11c365;
$red_color: #e75151;
$yellow_color: #f2df4c;

$black_color: rgb(14, 12, 12);
$white_color: #FDFDFD;
$gray_color: rgb(184, 184, 184);

$small_font_size: 16px;
$normal_font_size: 18px;
$big_font_size: 24px;

$border_radius: 50%;
$small_border_radius: 10px;